<header>
  <h2>ようこそ <b>Bookers</b> へ！</h2>
</header>

<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      <b>Bookers</b>では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class="main-visual-text">
      印象を共有し交換することができます
    </p>
  </div>
</div>

<nav>
  <ul class="nav-list">
    <li class="nav-list-item">
      <%= link_to "start", books_path %>
    </li>
  </ul>
</nav>
